.title{
    width: 70%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.form{
    width: 80%;
}

.w3-container{
    width: 100%;
}
.back{
    margin-right: 90%;
}
.create{
    margin-top :3%;
    margin-left: 83%;
}