tbody>tr:hover{
    background: rgba(131, 181, 193, 0.87);
    cursor:pointer;

}
table{
text-align: center;
}

th:first-child{
    text-align: center;
    padding-left: 0px;
}
.reviewSuccess{
    margin-right: 6%;
    color: green;
    font-size: large;
}
